<ion-header>
    <ion-toolbar>
        <ion-title>Slides</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="display: block">
        <canvas baseChart width="1" height="1.4"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                [legend]=true></canvas>
    </div>

    <ion-list>
        <ion-item>
            <ion-icon name="calculator"></ion-icon>
            Total expenses:
            {{ total }}{{ currency }}
        </ion-item>

        <ion-item>
            <ion-icon name="man"></ion-icon>
            Expenses per person:
            {{ total/numOfPeople }}{{ currency }}
        </ion-item>

    </ion-list>
</ion-content>
<!--<ion-slides pager="true" parallax="true">-->
<!--<ion-slide>-->
<!---->
<!--</ion-slide>-->
<!---->
<!--<ion-slide>-->
<!--<ion-card>-->
<!--<ion-img src="https://ljdchost.com/kxsCgsB.gif"></ion-img>-->
<!--<ion-card-header>-->
<!--<ion-card-title>When they ask me if I updated the documentation</ion-card-title>-->
<!--</ion-card-header>-->
<!--<ion-card-content>-->
<!---->
<!--</ion-card-content>-->
<!--</ion-card>-->
<!--</ion-slide>-->
<!---->
<!--<ion-slide>-->
<!--<ion-card>-->
<!--<ion-img src="https://ljdchost.com/uNCQWhs.gif"></ion-img>-->
<!--<ion-card-header>-->
<!--<ion-card-title>When I execute my script for the first time</ion-card-title>-->
<!--</ion-card-header>-->
<!--<ion-card-content>-->
<!---->
<!--</ion-card-content>-->
<!--</ion-card>-->
<!--</ion-slide>-->
<!--</ion-slides>-->
<!--</ion-content>-->
