<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Expense forecast</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <p style="height: 5px">
        </p>
        <p style="width: 80%; text-align: justify; margin-left: 20px">
            Estimated costs of your trip to {{ destination }} on
            {{ startDate }}-{{ endDate }} for {{numOfPeople}}
            people.
        </p>
        <div style="display: block">
            <canvas baseChart width="1" height="1"
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"
                    [legend]=true></canvas>
        </div>

        <ion-item>
            <ion-label>Low income</ion-label>
            <ion-toggle [(ngModel)]="selectedIncome" (ngModelChange)="update($event)"></ion-toggle>
            <ion-label>High income</ion-label>
        </ion-item>

    </ion-card>
    <ion-card>
        <ion-item>
            <ion-icon name="calculator" item-start large></ion-icon>
            Total expenses: {{ total * numOfPeople }} {{ currency }}
        </ion-item>
        <ion-item>
            <ion-icon name="man" item-start large></ion-icon>
            Expenses per person: {{ total }} {{ currency }}
        </ion-item>
    </ion-card>
</ion-content>